body {
  background-color: #B5838D;
  text-align: center;
}

p{
  font-family:'Crimson Text', serif;
  font-weight:bold;
  font-size:13px;
}

nav{
  font-family: 'Ubuntu', sans-serif;
}

a{
  text-decoration: none;
  text-transform: uppercase;
  font-weight:bold;
  color:purple;
  font-family:'Oswald', sans-serif;
}
a:hover{
  font-weight: bold;
  background-color:purple;
  color:white;
  opacity:0.7;
}

h1{
  font-family:'Oswald', sans-serif;
  font-size:25px;
  text-transform: uppercase;
}

#joke{
  background-color:#E5989B;
  padding: 15px;
  max-width:500px;
  margin:auto;
}

#joke p {
  font-family:'Crimson Text', serif;
}

ul{
  list-style-type: none;
  background-color:#E5989B;
  padding: 15px;
  max-width: 500px;
  margin:auto;
}

img{
  width: 50%;
  min-width: 350px;
  max-width: 600px;
  border:0;
}
